.backet{
    background-color: #fff;
    position: absolute;
    right: 0;
    border-radius: 5px;
}
.backet > .badge{
    position: absolute;
    z-index: 4;
    top: -5px;
    background-color: red;
}
.total{
    border-top: 5px solid #000;
}
.total>h2:nth-child(2){
    color: red;
}
footer {
    background-color: #000;
    color: #fff;
}